.hero__container {
  position: relative;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

video#bgvideo {
  width: 100%;
  height: auto;
  z-index: -100;
  //   background: url(placeholder.jpg) no-repeat;
  //   background-size: cover;
}

.hero__text {
}

// @media (min-width: $desktop-breakpoint) {
//   .hero__text {
//     top: 45%;
//     left: 45%;
//     h2 {
//     }
//   }
// }
